.allpoke-container {
    max-width: 500px;
    padding: 20px;
}

.allpoke-title {
    text-align: center;
    margin-bottom: 40px;
}
.allpoke-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    padding: 10px;
    border: solid 1px #333;
    border-radius: 5px;
    background-color: white;
}

.allpoke-entry {
    text-decoration: none;
}

.allpoke-entry__name {
    text-transform: uppercase;
}

.allpoke-entry__count {
    display: flex;
    align-items: center;
}

.allpoke-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
}

.allpoke-link__icon,
.allpoke-entry__icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
