.my-pokemon-container {
    padding: 20px;
    width: 100%;
}

.my-pokemon_title {
    margin: 20px 0;
    text-align: center;
}

.my-pokemon_list {
    margin-top: 30px;
}

.my-pokemon_empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.my-pokemon_link {
    display: block;
    margin: 20px 0;
    padding: 20px;
    background-color: antiquewhite;
    border: solid 1px pink;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 3px 1px 1px #ccc, -1px 3px 1px 1px #ccc;
    text-align: center;
}

.my-pokemon_entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.my-pokemon_entry_name {
    word-break: break-word;
    text-transform: uppercase;
    line-height: 1rem;
}

.my-pokemon-entry_release {
    padding: 10px;
}
