button {
    border: none;
    outline: none;
    font-family: "Press Start 2P", "Karla", sans-serif;
}

.profile-container {
    width: 100vw;
    max-width: 700px;
    height: calc(100% - 40px);
    padding: 20px;
}

main {
    padding: 2rem 0;
    width: calc(100% - 0.5rem);
    margin: 0 auto;
    height: 40%;
    flex-grow: 1;
    z-index: 2;
}

.profile {
    margin-left: 1rem;
    display: flex;
}

.profile-pic {
    position: relative;
    grid-column: auto;
    align-self: start;
    justify-self: center;
    padding: 0.3rem;
    background: beige;
    border: solid 3px goldenrod;
    border-radius: 10px;
    margin-right: 1rem;
    height: 100px;
}

.profile-pic:after {
    content: "";
    position: absolute;
    top: 3%;
    left: 3%;
    width: 90%;
    height: 90%;
    border: solid 3px rgb(163, 216, 210);
    border-radius: 7px;
    display: block;
}

.profile-pic img {
    width: 100px;
}

.profile-title {
    background-color: #ffeace;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
}

.profile-title span {
    display: block;
}

.profile-title span:first-child {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.profile-type-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-type {
    background-color: rgb(233, 233, 2);
    border: solid 1px rgb(173, 172, 170);
    display: inline-block;
    padding: 0.25rem;
    margin-left: 5px;
    margin-bottom: 0.5rem;
    color: white;
    text-shadow: 1px 1px 1px rgb(151, 151, 1), -1px -1px 1px rgb(151, 151, 1);
    text-transform: uppercase;

    box-shadow: -2px -2px 2px 1px rgb(151, 151, 1) inset;

    align-self: center;
    justify-self: start;
}

.profile-content {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.profile-content__move {
    margin: 3px;
    padding: 5px;
    background: #f7fbca;
}

.description {
    padding: 0.5rem 2.5rem;
    background-color: #7fc3ff;
    border-radius: 10px;
    border: solid 3px #78a2c3;
}

.description-box {
    position: relative;
    background-color: white;
    padding: 0.5rem;
    border: solid 2px #c0c0c0;
    height: 90%;
    line-height: 1.2rem;
    min-height: 100px;
}

.description-box:before,
.description-box:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 100%;
    background-color: #afd2ff;
    border-radius: 7px;
}

.description-box:before {
    top: 0;
    left: -1.75rem;
}

.description-box:after {
    top: 0;
    right: -1.75rem;
}

.description-box p {
    margin: 0;
    word-break: break-word;
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.catch-btn-container {
    margin-top: 50px;
}
.catch-btn {
    background-color: #ffb16f;
    display: inline-block;
    border: solid 1px pink;
    padding: 1rem 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0px -3px 0px 4px rgb(112, 140, 145), 0px -2px 2px 1px #ffb16f inset,
        0px 3px 0px 1px white inset;
    cursor: pointer;

    text-shadow: 1px 1px 2px var(--nav-btn-color);
    z-index: 1;

    width: 100%;
}

.catch-btn.btn-active {
    background-color: #ffeace;
    box-shadow: 0px -1px 0px 4px rgb(112, 140, 145);
    margin-top: -2px;
    margin-bottom: 2px;
}

.catch-btn:focus {
    outline: 3px dashed #151f76;
}

.success-modal {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-modal__title {
    font-size: 0.875rem;
    line-height: 1.5625rem;
}

.success-modal__image {
    display: block;
}
.success-modal__input {
    margin-top: 20px;
    height: 20px;
    width: 100%;
}

.success-modal__btn {
    margin-top: 20px;
    padding: 20px 10px;
    box-shadow: 1px 1px 1px 1px rgb(112, 140, 145);
    border-radius: 5px;
    cursor: pointer;
}

.message {
    line-height: 1rem;
}

.message.type--error {
    color: #bb0000;
}

/* POKEMON TYPES */
.normal {
    background-color: #a8a878;
    border: 1px solid #6d6d4e;
    text-shadow: 1px 1px 1px #6d6d4e, -1px -1px 1px #6d6d4e;
    box-shadow: -2px -2px 2px 1px #6d6d4e inset;
}

.fire {
    background-color: #f08030;
    border: 1px solid #9c531f;
    text-shadow: 1px 1px 1px #9c531f, -1px -1px 1px #9c531f;
    box-shadow: -2px -2px 2px 1px #9c531f inset;
}

.water {
    background-color: #6890f0;
    border: 1px solid #445e9c;
    text-shadow: 1px 1px 1px #445e9c, -1px -1px 1px #445e9c;
    box-shadow: -2px -2px 2px 1px #445e9c inset;
}

.electric {
    background-color: #f8d030;
    border: 1px solid #a1871f;
    text-shadow: 1px 1px 1px #a1871f, -1px -1px 1px #a1871f;
    box-shadow: -2px -2px 2px 1px #a1871f inset;
}

.grass {
    background-color: #78c850;
    border: 1px solid #4e8234;
    text-shadow: 1px 1px 1px #4e8234, -1px -1px 1px #4e8234;
    box-shadow: -2px -2px 2px 1px #4e8234 inset;
}

.ice {
    background-color: #98d8d8;
    border: 1px solid #638d8d;
    text-shadow: 1px 1px 1px #638d8d, -1px -1px 1px #638d8d;
    box-shadow: -2px -2px 2px 1px #638d8d inset;
}

.ground {
    background-color: #e0c068;
    border: 1px solid #927d44;
    text-shadow: 1px 1px 1px #927d44, -1px -1px 1px #927d44;
    box-shadow: -2px -2px 2px 1px #927d44 inset;
}

.flying {
    background-color: #a890f0;
    border: 1px solid #6d5e9c;
    text-shadow: 1px 1px 1px #6d5e9c, -1px -1px 1px #6d5e9c;
    box-shadow: -2px -2px 2px 1px #6d5e9c inset;
}

.ghost {
    background-color: #705898;
    border: 1px solid #493963;
    text-shadow: 1px 1px 1px #493963, -1px -1px 1px #493963;
    box-shadow: -2px -2px 2px 1px #493963 inset;
}

.rock {
    background-color: #b8a038;
    border: 1px solid #786824;
    text-shadow: 1px 1px 1px #786824, -1px -1px 1px #786824;
    box-shadow: -2px -2px 2px 1px #786824 inset;
}

.fighting {
    background-color: #c03028;
    border: 1px solid #7d1f1a;
    text-shadow: 1px 1px 1px #7d1f1a, -1px -1px 1px #7d1f1a;
    box-shadow: -2px -2px 2px 1px #7d1f1a inset;
}

.poison {
    background-color: #a040a0;
    border: 1px solid #682a68;
    text-shadow: 1px 1px 1px #682a68, -1px -1px 1px #682a68;
    box-shadow: -2px -2px 2px 1px #682a68 inset;
}

.psychic {
    background-color: #f85888;
    border: 1px solid #a13959;
    text-shadow: 1px 1px 1px #a13959, -1px -1px 1px #a13959;
    box-shadow: -2px -2px 2px 1px #a13959 inset;
}

.bug {
    background-color: #a8b820;
    border: 1px solid #6d7815;
    text-shadow: 1px 1px 1px #6d7815, -1px -1px 1px #6d7815;
    box-shadow: -2px -2px 2px 1px #6d7815 inset;
}

.dark {
    background-color: #705848;
    border: 1px solid #49392f;
    text-shadow: 1px 1px 1px #49392f, -1px -1px 1px #49392f;
    box-shadow: -2px -2px 2px 1px #49392f inset;
}

.steel {
    background-color: #b8b8d0;
    border: 1px solid #787887;
    text-shadow: 1px 1px 1px #787887, -1px -1px 1px #787887;
    box-shadow: -2px -2px 2px 1px #787887 inset;
}

.dragon {
    background-color: #7038f8;
    border: 1px solid #4924a1;
    text-shadow: 1px 1px 1px #4924a1, -1px -1px 1px #4924a1;
    box-shadow: -2px -2px 2px 1px #4924a1 inset;
}
