.d-f {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-fe {
    justify-content: flex-end;
}

.ai-c {
    align-items: center;
}

.mt-m {
    margin-top: 16px;
}

.mt-l {
    margin-top: 20px;
}

.mt-xl {
    margin-top: 24px;
}