body {
    margin: 0;
    font-family: "Press Start 2P", "Karla", sans-serif;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("./assets/background.png");
    color: #3b4368;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
